{{yield}}
<div id="calculator">
  <div class="top">
    <div class="screen">{{value}}</div>
  </div>

  <div class="keys">
    <span class="operatora" {{action 'clear'}}>C</span>
    <span class="operatora" {{action 'del'}} id="bspace">CE</span>
    <span class="operatora" style="font-size: 28px;" {{action 'ins' 'รท'}} id="div">&divide;</span>
    <span class="operatora" style="font-size: 28px;" {{action 'ins' 'ร'}} id= "multi">&times;</span>
    <span {{action 'ins' '7'}} id="7">7</span>
    <span {{action 'ins' '8'}} id="8">8</span>
    <span {{action 'ins' '9'}} id="9">9</span>
    <span class="operatora" style="font-size: 28px;" {{action 'ins' '-'}} id="minus">-</span>
    <span {{action 'ins' '4'}} id="4">4</span>
    <span {{action 'ins' '5'}} id="5">5</span>
    <span {{action 'ins' '6'}} id="6">6</span>
    <span class="operatora" style="font-size: 28px;" {{action 'ins' '+'}} id="plus">+</span>
    <span {{action 'ins' '1'}} id="1">1</span>
    <span {{action 'ins' '2'}} id="2">2</span>
    <span {{action 'ins' '3'}} id="3">3</span>
    <span class="zero" {{action 'ins' '0'}} id="0">0</span>
    <span {{action 'ins' '.'}}>.</span>
    <span class="operator equal" {{action 'equal'}} id="enter">=</span>
  </div>
</div>