{{yield}}
<div class="row">
    <div class="button" {{action "inputData" "clear" on="mouseUp"}}>C</div>
    <div class="button" {{action "inputData" "(" on="mouseUp"}}>(</div>
    <div class="button" {{action "inputData" ")" on="mouseUp"}}>)</div>
    <div class="button" {{action "inputData" "Del" on="mouseUp"}}>DEL</div>
</div>
<div class="row">
    <div class="button" {{action "inputData" 1 on="mouseUp"}}>1</div>
    <div class="button" {{action "inputData" 2 on="mouseUp"}}>2</div>
    <div class="button" {{action "inputData" 3 on="mouseUp"}}>3</div>
    <div class="button btn-operator" {{action "inputData" "+" on="mouseUp"}}>+</div>
</div>
<div class="row">
    <div class="button" {{action "inputData" 4 on="mouseUp"}}>4</div>
    <div class="button" {{action "inputData" 5 on="mouseUp"}}>5</div>
    <div class="button" {{action "inputData" 6 on="mouseUp"}}>6</div>
    <div class="button btn-operator" {{action "inputData" "-" on="mouseUp"}}>-</div>
</div>
<div class="row">
    <div class="button" {{action "inputData" 7 on="mouseUp"}}>7</div>
    <div class="button" {{action "inputData" 8 on="mouseUp"}}>8</div>
    <div class="button" {{action "inputData" 9 on="mouseUp"}}>9</div>
    <div class="button btn-operator" {{action "inputData" "*" on="mouseUp"}}>ร</div>
</div>
<div class="row">
    <div class="button" {{action "inputData" "." on="mouseUp"}}>.</div>
    <div class="button" {{action "inputData" 0 on="mouseUp"}}>0</div>
    <div class="button" {{action "inputData" "=" on="mouseUp"}}>=</div>
    <div class="button btn-operator" {{action "inputData" "/" on="mouseUp"}}>รท</div>
</div>